.header {
  width: 100%;
  padding: 50px 0;
  background-color: #fff;
}

.header a {
  display: none;
}

.header__logo {
  display: none;
  background-size: cover;
  background-image: url('../../../public/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px;
  background-color: #191818;
  transition: background-color 300ms ease;
}

.header__logo:hover {
  background-color: #000;
}